---
layout: main.html
title: Реконструкция очистных сооружений | Биокомпакт
description: Реконструкция очистных сооружений является очень выгодным, с точки зрения технико-экономических показателей мероприятием. Однако, достижение нормативных
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Реконструкция очистных сооружений</h1>
      <div class="entry-content">
        <p class="p2">Реконструкция очистных сооружений является очень выгодным, с точки зрения технико-экономич
          <wbr/>
          еских показателей мероприятием. Однако, достижение нормативных показателей очистки сточных вод при
          максимальном использовании существующих мощностей требует зачастую неординарного подхода к решению технических
          задач и определенной инженерной находчивости. Особенностью данного вида строительной деятельности является
          индивидуальность подхода к каждому отдельному объекту. Начинается реконструкция с тщательного обследования
          объекта, оценки его состояния, степени износа, изучением существующей технической документации. Далее
          разрабатывается общий план мероприятий и проработка отдельных узлов и технических решений.
        </p>
        <p class="p2">Одним из современных приемов при реконструкции очистных сооружений является метод “зарегулирования
          канализационного стока”, при котором выравнивается коэффициент неравномерности притока сточных вод и
          обеспечивается более равномерная нагрузка на сооружения. Примером реализации подобного метода служит
          использование части объема реконструируемых сооружений в качестве резервуара-усред
          <wbr/>
          нителя. При этом, данное решение позволяет отказаться от первичных отстойников, поскольку степень очистки от
          взвешенных веществ в усреднителе может достигать 40%.
        </p>
        <p class="p2">Важную роль при модернизации очистных сооружений играет обновление системы аэрации. Чаще всего,
          старые станции очистки оборудованы трубчатыми аэраторами. Это устаревшее решение является ненадежным и ремонт
          такой системы аэрации затруднен. Сегодня вместо трубчатых аэраторов с успехом применяются современные
          тарельчатые аэраторы с подвижной мембраной, которые не подвержены засорению и имеют высокую ремонтопригоднос
          <wbr/>
          ть. Кроме этого, замена системы аэрации повышает показатели очистки и улучшает условия для биологических
          процессов.
        </p>
        <p class="p2">Также, для интенсификации процессов биологической очистки применяют метод “частичной иммобилизации
          биоценоза”. Данный метод основан на использовании объемной загрузки из различных материалов для закрепления и
          размножения на ней части микроорганизмов, участвующих в очистке. При этом микроорганизмы в виде биопленки,
          образующейся на загрузке производят интенсивную и глубокую доочистку после основной очистки взвешенным
          активным илом. Этот прием особенно выгоден при реконструкции, поскольку позволяет улучшить показатели
          очищенных стоков без увеличения рабочих объемов очистных сооружений.</p>
        <p class="p2">Все эти методы успешно применяются специалистами Биокомпакт на протяжении многих лет. Нами была
          произведена реконструкция многих объектов с выводом станций на требуемые показатели чистки при минимальных
          затратах.</p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
