---
layout: main.html
title: Применение загрузки для интенсификации процесса биологической очистки сточных вод | Биокомпакт
description: Активный ил на станциях биологической очистки сточных вод представляет собой достаточно устойчивую систему, способную к определенной адаптации, в зависимости от
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Применение загрузки для интенсификации процесса биологической
      очистки сточных вод</h1>
      <div class="entry-content">
        <p>Активный ил на станциях биологической очистки сточных вод представляет собой достаточно устойчивую систему,
          способную к определенной адаптации, в зависимости от изменяющихся условий. Однако, при грубых ошибках в
          эксплуатации станции есть вероятность значительного нарушения этого биоценоза или полного его уничтожения. В
          качестве одной из мер по защите микроорганизмов, участвующих в технологическом процессе, а также повышения
          эффективности и глубины очистки применяется метод иммобилизации биоценоза. Осуществляется это путем помещения
          в часть объема аэротенков специальной загрузки, на которой развивается биопленка. Исследования показали, что
          активность иммобилизованных микроорганизмов значительно выше по сравнению с взвешенным активным илом, при этом
          облегчается протекание биохимических реакций. Кроме того, такая система значительно менее чувствительна к
          недостатку питательной среды, например, при разбавлении стоков дождевыми водами вследствие ветхих наружных
          сетей. Также, иммобилизованная биомасса намного более устойчива при грубых нарушениях технологических
          процессов и условий эксплуатации. Сегодня существует огромный выбор видов объемной загрузки в виде ершей,
          гофрированных труб, сетей из стекловолокна и т.д. Это дает свободу при проектировании станций очистки и учете
          технико-экономич
          <wbr/>
          еских показателей. Данный способ широко применяется и при реконструкции очистных сооружений, когда требуется
          при минимальных затратах повысить эффективность очистки. Наиболее эффективной является комбинированная схема,
          при которой используется одновременно система аэротенк-вторичн
          <wbr/>
          ый отстойник с циклом многоточечной рециркуляции и подачи, а также биореактор с иммобилизованной на загрузке
          биопленкой в качестве доочистки. Такая связка обеспечивает наиболее глубокую очистку от биогенных элементов и
          позволяет уменьшить стоимость очистных сооружений и их площадь. Именно такая технологическая схема лежит в
          основе большинства станций биологической очистки «Биокомпакт».
        </p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
