---
layout: main.html
title: Что такое Биокомпакт? | Биокомпакт
description: Биокомпакт – это блочные системы и оборудование очистки хозяйственно-бытовых, ливневых и производственных сточных вод, а также системы водоподготовки. Опыт
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Что такое Биокомпакт?</h1>
      <div class="entry-content"><p><span id="more-24"></span><br/> ООО «Биокомпакт» является одной из ведущих компаний
        по проектированию, изготовлению, монтажу и наладке оборудования станций водоподготовки и очистки сточных вод.
      </p>
        <p>40-летний опыт, накопленный с момента основания нашей организации, реализован в технологических и
          конструктивных решениях, которые обеспечивают надежность и удобство эксплуатации выпускаемого нами
          оборудования.</p>
        <p>Специалисты компании проводят модернизацию и внедрение современных решений в наши установки, в том числе в
          сотрудничестве с Научным центром при НИУ МГСУ.</p>
        <p>Наши технологи постоянно ведут мониторинг работы станций и установок, что позволяет в режиме реального
          времени оказывать техническую поддержку обслуживающим организациям и учитывать современные реалии
          водоснабжения и водоотведения для внедрения новых разработок в технологию очистки воды.</p>
        <p>Блочное полносборное исполнение станций водоподготовки и очистки сточных вод обеспечивает быстрый монтаж,
          ввод в эксплуатацию объектов, а также сокращает площадь занимаемой территории, что позволяет Заказчику
          увеличивать доходность использования земли.</p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
