---
layout: main.html
title: Станции очистки бытовых и производственных сточных вод | Биокомпакт
description: Очистные сооружения хозяйственно-бытовых и близких по составу сточных вод. Блочные очистные сооружения и станции «Биокомпакт» предназначены для глубокой
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Станции очистки сточных вод «Биокомпакт»</h1>
      <div class="entry-content"><p><span id="more-48"></span></p>
        <p class="p2">Блочные очистные сооружения и станции «Биокомпакт» предназначены для глубокой биологической
          очистки хозяйственно-бытовых и близких по составу производственных сточных вод от коттеджных поселков,
          малоэтажной застройки, микрорайонов, складских комплексов, промышленных предприятий, спортивных баз,
          санаториев и т.д.</p>
        <p class="p2"><span class="s2">Диапазон производительностей станций - </span><strong><span class="s3">50 - 10000 м</span><sup><span
            class="s4">3</span></sup></strong><span class="s3"><strong>/сут</strong>.</span></p>
        <p class="p2"><span class="s2">Наши модульные очистные сооружения имеют полную заводскую готовность и поставляются на объект в виде блоков, укомплектованных всеми необходимыми технологическими и энергосиловыми узлами и агрегатами. Это позволяет уменьшить стоимость станции, а также значительно сократить сроки монтажных работ и строительства объекта в целом.</span>
        </p>
        <p class="p2"><span class="s2">Блоки выполнены из долговечных материалов с каркасной конструкцией, обеспечивающей наземное и подземное исполнение без устройства дополнительных подпорных стенок и обсыпки песком.</span>
        </p>
        <p class="p2"><span class="s2">Электротехническое оборудование станций имеет высокую надежность и степень защиты энергосилового оборудования, учитывающую низкое качество электроснабжения на многих объекта. Степень автоматизации обеспечивает работу станции без постоянного присутствия обслуживающего персонала.</span>
        </p>
        <div class="tab-me-wrapper">
          <ul class="tab-me-tabs">
            <li class="active"><a href="javascript:void(0)" rel="tab1491"><span>Технология</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1369"><span>Характеристики</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1725"><span>Особенности</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1675"><span>Типы исполнения</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1834"><span>Обслуживание</span></a></li>
          </ul>
          <div class="tab-me-content-wrapper">
            <div class="tab-me-tab-content" id="tab1491"></p><p class="p2"><span class="s2">Технология очистки сточных вод</span><span
                class="s5"> на станциях «Биокомпакт» учитывает реальные условия российского водоотведения и включает в себя полный перечень этапов необходимый для достижения качества очистки до норм сброса в водоемы рыбохозяйственного значения:</span>
            </p>
              <ul>
                <li class="p2"><span class="s2"><strong>Механическая очистка стоков</strong>, включая в себя сороудерживающие комплексы с механизированным<wbr/>и и ручными решетками для отделения крупных отбросов, а также песколовки для отделения песка и тяжелых фракций взвешенных веществ;</span>
                </li>
                <li class="p2"><span class="s2"><strong>Усреднение</strong> стоков по расходу и концентрациям для обеспечения оптимального гидравлического режима дальнейшей биологической очистки. Усреднитнители укомплектованы насосной группой и системой гидравлического взмучивания;</span>
                </li>
                <li class="p2"><span class="s2"><strong>Распределение</strong> в камере со специальными заглушками-отсекателями для распределения сточных вод на необходимое количество технологических линий;</span>
                </li>
                <li class="p2"><span class="s2"><strong>Биологическая очистка сточных вод</strong> методом многоступенчатой нитри/денитрификации с применением коридорного типа аэротенков, механическими и пневматическими системами перемешивания стоков и системой мелкопузырчатой аэрации;</span>
                </li>
                <li class="p2"><span class="s2"><strong>Глубокая доочистка</strong> в биореактроре с прикрепленной инертной загрузкой без необходимости ее замены;</span>
                </li>
                <li class="p2"><span class="s2"><strong>УФ-обеззараживание </strong> на установках, оснащенных аммальгамными лампами;</span>
                </li>
                <li class="p2"><span class="s2"><strong>Аэробная обработка</strong>, минерализация, уплотнение и обезвоживание осадка.</span>
                </li>
              </ul>
              <p class="p2">При очистке промышленных сточных вод станции «Биокомпакт» могут комплектоваться узлами
                физико-механической очистки (флотатор и т.д.).</p>
              <p class="p2"><span
                  class="s2">Показатели загрязнений хозяйственно-бытовых сточных вод указаны в таблице:</span></p>
              <div class="mobile"><a href="/tables/biocompact1.pdf" target="_blank">Открыть таблицу</a></div>
              <div class="desktop">
                <table class="t1" style="width: 100%;">
                  <tbody>
                  <tr>
                    <td class="td1" style="width: 30%; text-align: center; vertical-align: top;"><strong><span
                        class="s6">Загрязняющие вещества</span></strong></td>
                    <td class="td1" style="width: 30%; text-align: center; vertical-align: top;"><strong><span
                        class="s6">Концентрации загрязнений в сточной воде, поступающей на очистку, мг/л</span></strong>
                    </td>
                    <td class="td1" style="width: 30%; text-align: center; vertical-align: top;"><strong><span
                        class="s6">ПДК загрязнений в водоемах рыбохоз. значения, мг/л</span></strong></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">БПКп</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">100,0-350,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">3,0</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">ВВ</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">100,0-350,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">3,0</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">Азот амм NH<sup>-</sup><sub>4</sub> - N<sup><span
                        style="font-size: 11.1111px; line-height: 16.6667px;"> </span></sup></span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">14,0-40,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">0,39</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span
                        class="s2">Азот нитратов NO<sup>-</sup><sub>3</sub> - N</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">следы</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">9,1</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span
                        class="s2">Азот нитритов NO<sup>-</sup><sub>2</sub> - N</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">следы</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">0,02</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">Фосфаты P<sub>2</sub>O<sub>5</sub> - P</span>
                    </td>
                    <td class="td2" style="text-align: center;"><span class="s2">5,0-16,5</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">0,2</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">Хлориды Cl</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">300,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">300,0</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">Сульфаты</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">100,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">100,0</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td1" style="text-align: center;"><span class="s2">СПАВ</span></td>
                    <td class="td2" style="text-align: center;"><span class="s2">5,0</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">0,2</span></td>
                  </tr>
                  <tr class="r2">
                    <td class="td4" style="height: 30px; text-align: center;" colspan="3"><strong><span class="s6">Эффективность очистки сточных вод </span><span
                        class="s6">по микробиологическ<wbr/>им показателям </span></strong></p><p><strong><span
                        class="s6">(в соответствии с СаНПиН 2.1.5.980-00)</span> </strong></td>
                  </tr>
                  <tr class="r1">
                    <td class="td4" style="text-align: center;" colspan="2"><span
                        class="s2">Общие колиформные бактерии</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">500 КОЕ/100мл</span></td>
                  </tr>
                  <tr class="r3">
                    <td class="td4" style="text-align: center;" colspan="2"><span class="s2">Термотолерантные колиформные бактерии</span>
                    </td>
                    <td class="td3" style="text-align: center;"><span class="s2">не более 100 КОЕ/100мл</span></td>
                  </tr>
                  <tr class="r3">
                    <td class="td4" style="text-align: center;" colspan="2"><span class="s2">Коли-фаги</span></td>
                    <td class="td3" style="text-align: center;"><span class="s2">не более 10 БОЕ/100мл</span></td>
                  </tr>
                  <tr class="r3">
                    <td class="td4" style="text-align: center;" colspan="2"><span class="s2">Возбудители кишечных инфекций</span>
                    </td>
                    <td class="td3" style="text-align: center;"><span class="s2">не должны содержаться</span></td>
                  </tr>
                  <tr class="r1">
                    <td class="td4" style="text-align: center;" colspan="2"><span class="s2">Жизнеспособные яйца гельминтов, онкосферы тениид и жизнеспособные цисты патогенных кишечных прост.</span>
                    </td>
                    <td class="td3" style="text-align: center;"><span class="s2">не должны содержатся в 25 л воды</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p></div>
            <div class="tab-me-tab-content" id="tab1369" style="display:none"></p>
              <div class="mobile"><a href="/biocompact2.pdf" target="_blank">Открыть таблицу характеристик</a>
              </div>
              <div class="desktop">
                <table class="t1" style="width: 100%;">
                  <tbody>
                  <tr class="r4">
                    <td class="td5" style="width: 25%; text-align: center; vertical-align: top;"><strong><span
                        class="s3">Производительнос<wbr/>ть станции, м</span><span class="s4">3</span><span class="s3">/сут</span></strong>
                    </td>
                    <td class="td5" style="width: 25%; text-align: center; vertical-align: top;"><strong><span
                        class="s3">Эквивалент жителей, чел.</span></strong></td>
                    <td class="td5" style="width: 25%; text-align: center; vertical-align: top;"><strong><span
                        class="s3">Потребляемая мощность, кВт.</span></strong></td>
                    <td class="td5" style="width: 25%; text-align: center; vertical-align: top;"><strong><span
                        class="s3">Габариты оборудования (L*B*H), м.</span></strong></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">50</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">200</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">7,2</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">11,5х3,0х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">100</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">400</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">12,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">15,0х3,0х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">150</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">600</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">15,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">12,0х6,0х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">200</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">800</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">17,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">11,5х9,0х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">250</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">1 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">22,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">14,5х8,0х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">300</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">1 200</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">28,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">14,5х8,5х3,1</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">400</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">1 600</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">35,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">16,5х9,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">500</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">2 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">42,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">20,0х9,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">600</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">2 400</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">50,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">23,5х9,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">800</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">3 200</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">62,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">16,5х18,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">1 000</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">4 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">80,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">21,0х27,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">1 200</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">4 800</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">100,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">17,5х29,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">1 500</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">6 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">110,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">20,0х27,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">2 000</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">8 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">150,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">24,0х32,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">3 000</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">12 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">200,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">32,0х36,0х3,35</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">5 000</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">20 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">300,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">44,0х50,0х6,0</span></td>
                  </tr>
                  <tr class="r4">
                    <td class="td5" style="text-align: center;"><span class="s2">10 000</span></td>
                    <td class="td6" style="text-align: center;"><span class="s2">40 000</span></td>
                    <td class="td7" style="text-align: center;"><span class="s2">420,0</span></td>
                    <td class="td8" style="text-align: center;"><span class="s2">90,0х50,0х6,0</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p></div>
            <div class="tab-me-tab-content" id="tab1725" style="display:none"></p>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact17.jpg"><img
                        class="alignnone size-full wp-image-284" src="/wp-content/uploads/biocompact17s.jpg"
                        alt="Локальные очистные сооружения" width="100" height="75"/></a></div>
                    <div class="column1-60"><span class="s2">Локальные очистные сооружения (станции) производительностью до </span><strong><span
                        class="s3">1000</span> <span class="s3">м</span><sup><span class="s4">3</span></sup><span
                        class="s3">/сут</span></strong><span
                        class="s2"> обеспечивают размер санитарно-защитной зоны <strong>(</strong></span><strong><span
                        class="s3">СЗЗ</span></strong><span class="s2"><strong>)</strong> до </span><strong><span
                        class="s3">20 м</span></strong><span class="s2"> без необходимости согласования ее сокращения, что позволяет обеспечить девелоперам и застройщикам максимально эффективное целевое использование земли с наибольшей прибылью.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact18.jpg"><img
                        class="alignnone size-full wp-image-286" src="/wp-content/uploads/biocompact18s.jpg"
                        alt="Блочные очистные сооружения" width="100" height="75"/></a></div>
                    <div class="column1-60"><span
                        class="s2">Станции очистки сточных вод производительностью до </span><strong><span class="s3">3000 м</span><sup><span
                        class="s4">3</span></sup><span class="s3">/сут</span></strong><span class="s2"> имеют блочное исполнение и могут монтироваться частями. Это обеспечивает поэтапный ввод в эксплуатацию, что особенно актуально для реализации проектов с очередностью строительства.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact19.jpg"><img
                        class="alignnone size-full wp-image-288" src="/wp-content/uploads/biocompact19s.jpg"
                        alt="Бетонные очистные сооружения" width="100" height="75"/></a></div>
                    <div class="column1-60"><p class="p2"><span class="s3"><span class="s2">Очистные сооружения канализации производительностью <strong>от </strong></span><strong><span
                        class="s3">3 000</span><span class="s2"> до </span><span class="s3">10000 м</span><sup><span
                        class="s4">3</span></sup><span class="s3">/сут</span></strong><span class="s2"> могут реализовываться в железобетонном исполнении, что дает возможность крупным застройщикам выполнить устройство ж/б части самостоятельно и таким образом значительно снизить капитальные расходы при строительстве.</span></span>
                    </p></div>
                  </td>
                </tr>
                </tbody>
              </table>
              <p></div>
            <div class="tab-me-tab-content" id="tab1675" style="display:none"></p>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact11.jpg"><img
                        class="alignnone size-full wp-image-284" src="/wp-content/uploads/biocompact11s.jpg"
                        alt="Наземная блочно-модульная станция очистки воды «Биокомпакт»" width="100" height="75"/></a>
                    </div>
                    <div class="column1-60"><strong><span class="s3">Наземное исполнение</span></strong><span
                        class="s2"> актуально на площадках где ведение общестроительных работ осложнено высоким уровнем грунтовых вод, а также для объектов с ограниченным бюджетом. Для уменьшения габаритов площадки станции очистные сооружения могут быть выполнены с утеплением (без обваловки) емкостного оборудования.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact12.jpg"><img
                        class="alignnone size-full wp-image-286" src="/wp-content/uploads/biocompact12s.jpg"
                        alt="Подземная блочно-модульная станция очистки воды «Биокомпакт»" width="100" height="75"/></a>
                    </div>
                    <div class="column1-60"><strong><span class="s3">Подземное исполнение</span></strong><span
                        class="s2"> обеспечивает значительное уменьшение площади территории станции и подходит для объектов со стесненными условиями посадки</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact13.jpg"><img
                        class="alignnone size-full wp-image-288" src="/wp-content/uploads/biocompact13s.jpg"
                        alt="Блочно-модульная станция очистки воды «Биокомпакт» с легким павильоном" width="100"
                        height="75"/></a></div>
                    <div class="column1-60"><p class="p2"><strong><span
                        class="s3">С легким павильоном</span></strong><span class="s2"> обеспечивает закрытый вариант очистных сооружений с максимальной эстетикой при минимальных капитальных затратах, удобство эксплуатации и не требует устройства отдельного фундамента и дополнительного отопления.</span>
                    </p></div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact14.jpg"><img
                        class="alignnone size-full wp-image-290" src="/wp-content/uploads/biocompact14s.jpg"
                        alt="Блочно-модульная станция очистки воды «Биокомпакт» в капитальном отапливаемом павильоне"
                        width="100" height="75"/></a></div>
                    <div class="column1-60"><strong><span
                        class="s3">В капитальном отапливаемом павильоне</span></strong><span class="s2"> обеспечивает закрытый вариант и подходит для объектов с производительностью более 1000 м</span><sup><span
                        class="s7">3</span></sup><span class="s2">/сут, где по местным условиям (требования контролирующих органов или заказчика, климатические условия и т.д.) необходимо выполнение данного условия.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <p></div>
            <div class="tab-me-tab-content" id="tab1834" style="display:none"></p><p class="p2"><span class="s2">Для эксплуатации очистных сооружений и станций требуется минимальное количество операторов. При наборе обслуживающего персонала не требуется изначальная высокая квалификация. Обучение осуществляется нашими специалистами.</span>
            </p>
              <p class="p2">В процессе дальнейшей эксплуатации мы предлагаем различные варианты технологического
                сопровождения.</p>
              <p class="p2"><a href="/ekspluatacija-servis/">Подробнее</a></p>
              <div class="column1-3"><p><a class="fancybox" href="/wp-content/uploads/biocompact15.jpg"
                                           rel="galery"><img class="alignnone size-full wp-image-93"
                                                             src="/wp-content/uploads/biocompact15s.jpg"
                                                             alt="Узел обеззараживания" width="290" height="192"/>Узел
                обеззараживания</a></p></div>
              <div class="column1-3"><p><a class="fancybox" href="/wp-content/uploads/biocompact16.jpg"
                                           rel="galery"><img class="alignnone size-full wp-image-95"
                                                             src="/wp-content/uploads/biocompact16s.jpg"
                                                             alt="Операторская" width="290"
                                                             height="192"/>Операторская</a></p></div>
              <div class="column1-3"></div>
              <p></div>
          </div>
        </div>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
