---
layout: main.html
title: Проектирование очистных сооружений и ВЗУ | Биокомпакт
description: Проектирование и согласование очистных сооружений, ВЗУ и станций водоподготовки. ООО «Биокомпакт» оказывает полный комплекс услуг по проектированию систем
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Проектирование очистных сооружений и ВЗУ</h1>
      <div class="entry-content"><p><span id="more-84"></span></p>
        <p class="p2">ООО «Биокомпакт» оказывает полный комплекс услуг по проектированию систем очистки сточных вод и
          водоподготовки в составе:</p>
        <ul>
          <li class="p2"><span class="s2">проектирование локальных очистных сооружений</span></li>
          <li class="p2"><span class="s2">проектирование очистных сооружений хозяйственно-быт<wbr/>овых сточных вод</span>
          </li>
          <li class="p2"><span class="s2">проектирование очистных сооружений ливневых сточных вод</span></li>
          <li class="p2"><span class="s2">проектирование канализационных насосных станций</span></li>
          <li class="p2"><span class="s2">проектирование водозаборных узлов</span></li>
          <li class="p2"><span class="s2">проектирование станций водоподготовки</span></li>
          <li class="p2"><span class="s2">проектирование насосных станций 1-го и 2-го подъема</span></li>
          <li class="p2"><span class="s2">проектирование сетей канализации и водопровода</span></li>
        </ul>
        <p class="p2">Реализация данных инженерных сооружений начинается с предпроектной подготовки и утверждения
          Технического задания. На этом этапе согласовываются принципиальные технические решения.</p>
        <p class="p2">В рамках предпроектных работ мы оказываем содействие Заказчику в сборе необходимой
          исходно-разрешит
          <wbr/>
          ельной документации (ИРД) и выполняем инженерные изыскания необходимые для дальнейшего проектирования:
        </p>
        <ul>
          <li class="p2"><span class="s2">Инженерно-геолог<wbr/>ические изыскания</span></li>
          <li class="p2"><span class="s2">Инженерно-геодез<wbr/>ические изыскания</span></li>
          <li class="p2"><span class="s2">Инженерно-эколог<wbr/>ические изыскания</span></li>
        </ul>
        <p class="p2">По желанию заказчика наша компания может получить справки по климатологии и фоновым концентрациям
          загрязняющих веществ в органах Росгидромета, которые понадобятся в последствии для разработки раздела охраны
          окружающей среды.</p>
        <p class="p2">Также совместно с Заказчиком мы можем выполнить предпроектную подготовку и согласование точки
          сброса очищенных сточных вод со всеми заинтересованным
          <wbr/>
          и организациями.
        </p>
        <p class="p2">Проектные работы выполняются в соответствии с Постановление Правительства РФ N 87 «О составе
          разделов проектной документации и требованиях к их содержанию» в следующем составе:</p>
        <ul>
          <li class="p2"><em><span class="s2">Раздел 1 - Пояснительная записка</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 2 - Схема планировочной организации земельного участка</span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 3 - Архитектурные решения</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 4 - Конструктивные и объемно-планиров<wbr/>очные решения</span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 5.1 - Система электроснабжения</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 5.2 - Система водоснабжения</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 5.3 - Система водоотведения</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 5.4 - Отопление, вентиляция и кондиционировани<wbr/>е воздуха</span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 5.5 - Сети связи</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 5.7 - Технологические решения</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 6 - Проект организации строительства</span></em></li>
          <li class="p2"><em><span class="s2">Раздел 7 - Проект организации работ по сносу или демонтажу объектов капитального строительства (при необходимости) </span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 8 - Перечень мероприятий по охране окружающей среды </span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 9 - Мероприятия по обеспечению пожарной безопасности </span></em>
          </li>
          <li class="p2"><em><span class="s2">Раздел 11 - Смета </span></em></li>
        </ul>
        <p class="p2">В объем работ на стадии Проект входит техническое сопровождение и защита принятых проектных
          решений в экспертных организациях.</p>
        <p class="p2">Также при необходимости в рамках проектирования очистных сооружений и ВЗУ мы разрабатываем и
          согласуем раздел «Обоснование сокращения санитарно-защитн
          <wbr/>
          ой зоны (СЗЗ)». Это позволяет Заказчику повысить эффективность использования земли в связи со значительным
          уменьшением зон отчуждения данных инженерных сооружений.
        </p>
        <p class="p2">Рабочая документация выполняется в соответствии с ГОСТ Р21.1101-2009 и обеспечивает выполнение
          строительно-монт
          <wbr/>
          ажных работ с минимальным количеством вопросов при производстве работ. В состав рабочей документации входят
          следующие разделы:
        </p>
        <ul>
          <li class="p2"><span class="s2">Генеральный план участка строительства</span></li>
          <li class="p2"><span class="s2">Архитектурные решения </span></li>
          <li class="p2"><span class="s2">Конструктивные решения</span></li>
          <li class="p2"><span class="s2">Система электроснабжения</span></li>
          <li class="p2"><span class="s2">Система водоснабжения</span></li>
          <li class="p2"><span class="s2">Система водоотведения</span></li>
          <li class="p2"><span class="s2">Отопление, вентиляция и кондиционировани<wbr/>е воздуха</span></li>
          <li class="p2"><span class="s2">Автоматизация и диспетчеризация оборудования</span></li>
          <li class="p2"><span class="s2">Технологические решения</span></li>
        </ul>
        <p class="p2">По желанию заказчика мы выполняем работы по авторскому надзору на площадках строительства.</p>
        <p class="p2">Наша организация имеет собственную проектную группу, поэтому все текущие рабочие вопросы решаются
          в кратчайшие сроки, как на стадии проектирования, так и при производстве работ на площадке.</p>
        <p class="p2">Мы заинтересованы максимально ускорить выпуск проектов для реализации нашего оборудования на
          объекте.</p>
        <p class="p2">В проектах применяются самые современные технические решения, материалы и комплектующие, что
          впоследствии обеспечивает удобство эксплуатации, надежность и долговечность работы реализованных объектов.</p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
