---
layout: main.html
title: Станции очистки ливневых сточных вод «Аквас» | Биокомпакт
description: Очистные сооружения поверхностных и близких по составу сточных вод. Блочные очистные сооружения и станции «Аквас» предназначены для очистки ливневых
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Станции очистки ливневых cточных вод «Аквас»</h1>
      <div class="entry-content"><p><span id="more-61"></span></p>
        <p class="p2"><span class="s2">Блочные очистные сооружения и станции «Аквас» предназначены для очистки ливневых, нефтесодержащих и близких к ним по составу сточных вод с территории складских комплексов, промышленных предприятий, коттеджных поселков, малоэтажной застройки, микрорайонов, спортивных баз, санаториев и т.д.</span>
        </p>
        <p class="p2">Диапазон производительностей станций: <strong>1 - 100 л/с</strong>.</p>
        <p class="p2"><span class="s2">Модульные станции могут устанавливаться на очистных сооружениях работающих по накопительной (с резервуаром-аккумулятором) и проточной (без резервуара-аккумулятора) схеме.</span>
        </p>
        <p class="p2"><span class="s2">Наше оборудование имеет полную заводскую готовность и поставляется на объект в виде блоков, укомплектованных всеми необходимыми технологическими узлами. Это позволяет уменьшить стоимость станции, а также значительно сократить сроки монтажных работ и строительства объекта в целом.</span>
        </p>
        <p class="p2"><span class="s2">Блоки выполнены из долговечных материалов с каркасной конструкцией, обеспечивающей наземное и подземное исполнение без устройства дополнительных подпорных стенок и обсыпки песком.</span>
        </p>
        <p class="p2"><span class="s2">Также для объектов с небольшой территорией мы изготавливаем блочные резервуары-аккумуляторы коридорного типа общим объемом до </span><strong><span
            class="s3">1000 м</span><sup><span class="s4">3</span></sup></strong><span class="s2">, укомплектованные насосным узлом подачи на доочистку.</span>
        </p>
        <p class="p2"><span class="s2">Станции работают в автономном режиме и не требуют присутствия обслуживающего персонала.</span>
        </p>
        <p class="p2">
        <div class="tab-me-wrapper">
          <ul class="tab-me-tabs">
            <li class="active"><a href="javascript:void(0)" rel="tab1096"><span>Технология</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1886"><span>Характеристики</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1943"><span>Особенности</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1036"><span>Типы исполнения</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1128"><span>Обслуживание</span></a></li>
          </ul>
          <div class="tab-me-content-wrapper">
            <div class="tab-me-tab-content" id="tab1096"></p>
              <p class="p2"><span class="s2">Технология очистки </span><span class="s5">на станциях «Аквас» оптимально подходит для доочистки поверхностных (ливневых и талых) сточных вод и включает в себя полный перечень этапов необходимый для достижения качества очистки до норм сброса в водоемы рыбохозяйственно<wbr/>го значения:</span>
              </p>
              <ul>
                <li class="p2"><span class="s5">Первичное отстаивание в аккумулирующей емкости (резервуаре), где отделяется основная часть (до 80%) загрязнений.</span>
                </li>
                <li class="p2"><span class="s2">Тонкослойное двухстадийное отстаивание по нисходяще/восход<wbr/>ящей схеме для отделения средней фракции нефтепродуктов и взвешенных веществ</span>
                </li>
                <li class="p2"><span class="s2">Доочистка на фильтрах с комбинированной загрузкой коалесцентного типа и двух видов сорбционного типа.</span>
                </li>
              </ul>
              <p class="p2"><span class="s2">Также по желанию Заказчика возможна комплектация станций узлом УФ-обеззараживан<wbr/>ия.</span>
              </p>
              <p class="p2"><span class="s2">Коалесцентная загрузка обеспечивает укрупнение частиц загрязнений, а сорбция происходит на поверхности специальных нефтесборных бонов и активированного угля.</span>
              </p>
              <p class="p2"><span class="s2">В таблице приведены перечень и параметры загрязнений при очистке поверхностных вод:</span>
              </p>
              <div class="mobile"><a href="/tables/akvas1.pdf" target="_blank">Открыть таблицу</a></div>
              <div class="desktop">
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><p class="p3"><strong><span
                        class="s6">Перечень загрязняющих веществ в исходной </span><span class="s6">сточной воде</span></strong>
                    </p></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong>Концентрации загрязнений на
                      входе в резервуар-аккуму
                      <wbr/>
                      лятор (дождевые/талые воды), мг/л</strong></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong>Концентрации загрязнений
                      после резервуара-аккум
                      <wbr/>
                      улятора, мг/л</strong></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><p class="p3"><strong><span
                        class="s6">Концентрация загрязнений после очистки </span><span class="s6">(ПДК рыбохоз.), водоемов) мг/л</span></strong>
                    </p></td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">Взвешенные вещества</td>
                    <td style="width: 25%; text-align: center;">400/2000</td>
                    <td style="width: 25%; text-align: center;">до 60</td>
                    <td style="width: 25%; text-align: center;">+ 0,25 к фону реки</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">Нефтепродукты</td>
                    <td style="width: 25%; text-align: center;">8/20</td>
                    <td style="width: 25%; text-align: center;">до 2,0</td>
                    <td style="width: 25%; text-align: center;">0,05</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">БПК<sub><span class="s7">5</span></sub></td>
                    <td style="width: 25%; text-align: center;">30/50</td>
                    <td style="width: 25%; text-align: center;">до 10</td>
                    <td style="width: 25%; text-align: center;">3,0</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p></div>
            <div class="tab-me-tab-content" id="tab1886" style="display:none"></p>
              <div class="mobile"><a href="/tables/akvas2.pdf" target="_blank">Открыть таблицу характеристик</a></div>
              <div class="desktop">
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="width: 20%; text-align: center; vertical-align: top;"><strong>Производительно
                      <wbr/>
                      сть, л/с</strong></td>
                    <td style="width: 20%; text-align: center; vertical-align: top;"><strong>Габаритные размеры
                      оборудования, м</strong></td>
                    <td style="width: 20%; text-align: center; vertical-align: top;"><strong><span class="s6">Ориентировочный объем резервуара-аккум<wbr/>улятора, м</span><sup><span
                        class="s8">3</span></sup></strong></td>
                    <td style="width: 20%; text-align: center; vertical-align: top;"><strong>Ориентировочный территория
                      водосбора, га</strong></td>
                  </tr>
                  <tr>
                    <td style="width: 20%; text-align: center;">3</td>
                    <td style="width: 20%; text-align: center;">4,5х2,4х2,7</td>
                    <td style="width: 20%; text-align: center;"> 770</td>
                    <td style="width: 20%; text-align: center;">3</td>
                  </tr>
                  <tr>
                    <td style="width: 20%; text-align: center;">5</td>
                    <td style="width: 20%; text-align: center;"> 5,5х2,4х2,7</td>
                    <td style="width: 20%; text-align: center;"> 1250</td>
                    <td style="width: 20%; text-align: center;">5</td>
                  </tr>
                  <tr>
                    <td style="width: 20%; text-align: center;">10</td>
                    <td style="width: 20%; text-align: center;"> 7,0х3,0х2,7</td>
                    <td style="width: 20%; text-align: center;"> 2500</td>
                    <td style="width: 20%; text-align: center;">10</td>
                  </tr>
                  <tr>
                    <td style="width: 20%; text-align: center;">20</td>
                    <td style="width: 20%; text-align: center;">8,0х3,5х2,7</td>
                    <td style="width: 20%; text-align: center;"> 7700</td>
                    <td style="width: 20%; text-align: center;">30</td>
                  </tr>
                  <tr>
                    <td style="width: 20%; text-align: center;">40</td>
                    <td style="width: 20%; text-align: center;"> 8,5х3,5х3,0</td>
                    <td style="width: 20%; text-align: center;"> 10300</td>
                    <td style="width: 20%; text-align: center;">40</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p></div>
            <div class="tab-me-tab-content" id="tab1943" style="display:none"></p>
              <ul>
                <li class="p2"><p class="p2"><span class="s2">Станции производительностью до </span><strong><span
                    class="s3">10</span> <span class="s3">л/с</span></strong><span class="s2"> изготавливаются в виде единого блока.</span>
                </p></li>
                <li class="p2">
                  <p class="p2"><span class="s2">Станции производительностью до </span><strong><span
                      class="s3">15 л/с</span></strong><span class="s2"> могут быть укомплектованы блочным резервуаром-нако<wbr/>пителем, а также могут устанавливаться на перекрытие резервуара</span>
                  </p>
                </li>
                <li class="p2"><p class="p2"><span class="s2">Станции производительностью более </span><strong><span
                    class="s3">20 л/с</span></strong><span class="s2"> могут выполняться по проточной схеме с установкой оборудования в готовых блок-постах. При проточной схеме на станциях устанавливается оборудование с автоматическими напорными промывными фильтрами, что обеспечивает экономию на расходных материалах.</span>
                </p></li>
              </ul>
              <p></div>
            <div class="tab-me-tab-content" id="tab1036" style="display:none"></p>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/akvas6.jpg"><img
                        class="alignnone size-full wp-image-286" src="/wp-content/uploads/akvas6s.jpg"
                        alt="Блочные очистные сооружения" width="100" height="75"/></a></div>
                    <div class="column1-60"><strong><span class="s3">Наземное исполнение</span></strong><span
                        class="s2"> оптимально подходит для промышленных площадок и микрорайонов и обеспечивает быстроту монтажа, максимальное удобство при эксплуатации и минимальные затраты на общестроительные работы. Также для экономии территории очистных возможна установка блоков на перекрытие резервуара-аккумулятора.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/biocompact12.jpg"><img
                        class="alignnone size-full wp-image-286" src="/wp-content/uploads/biocompact12s.jpg"
                        alt="Блочные очистные сооружения" width="100" height="75"/></a></div>
                    <div class="column1-60"><strong><span class="s3">Подземное исполнение</span></strong><span
                        class="s2"> обеспечивает эстетический вид и подходит для небольших объектов индивидуальной и малоэтажной застройки, а также торговых комплексов.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <p></div>
            <div class="tab-me-tab-content" id="tab1128" style="display:none"></p>
              <p class="p2"><span class="s2">Для эксплуатации очистных сооружений не требуется специально выделенный персонал. Станция может эксплуатироватьс<wbr/>я дежурными персоналом либо сантехниками с совмещением обязанностей.</span>
              </p>
              <p class="p2"><span class="s2">Замена фильтрующей загрузки производится механизированным способом и занимает незначительное время.</span>
              </p>
              <p class="p2"><span class="s2">Обучение персонала осуществляется нашими специалистами.</span></p>
              <p class="p2"><span class="s2">Для удобства эксплуатации наша организация может обеспечить поставку расходных материалов.</span>
              </p>
              <p class="p2"><a href="/ekspluatacija-servis/">Подробнее</a></p>
              <p></div>
          </div>
        </div>
        </p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
