---
layout: main.html
title: Очистка сточных вод молочных заводов | Биокомпакт
description: Значительное количество молокозаводов в РФ было возведено и введено в эксплуатацию ещё во времена СССР. Они выпускали узкий ассортимент продукции
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Очистка сточных вод молочных заводов</h1>
      <div class="entry-content"><p>Значительное количество молокозаводов в РФ было возведено и введено в эксплуатацию
        ещё во времена СССР. Они выпускали узкий ассортимент продукции, изготавливающейся в строгом соответствии с ГОСТ.
        На данный момент разнообразие продукции, выпускаемой современными предприятиями молочной промышленности поражает
        воображение. Выпуск молочных продуктов по современным разработанным ТУ, совместно с использованием в качестве
        исходного сырья натурального молока позволяет применять растительные масла, транс-жиры, различные пищевые
        добавки (эмульгаторы, стабилизаторы, консерванты, красители и т.д.). Кроме того, для обработки технологического
        оборудования, помещений и тары используются современные синтетические моющие средства. Что в совокупности
        привело к существенному изменению характеристики стоков, в которых наблюдаются составляющие ранее не
        встречаемые, но не позволяющие использовать старые технологии по обработке данных стоков, поскольку являются
        ингибиторами процессов очистки.</p>
        <p>В таблице приведены данные из справочника проектировщика от 1981г и показатели сточных вод современного
          молокозавода.</p>
        <table style="width: 100%;">
          <tbody>
          <tr>
            <td style="text-align: center;" rowspan="2"><strong>№ п/п</strong></td>
            <td style="text-align: center;" rowspan="2"><strong>Показатели</strong></td>
            <td style="text-align: center;" rowspan="2"><strong>Ед.изм.</strong></td>
            <td style="text-align: center;" colspan="2"><strong>Концентрации загрязнений</strong></td>
          </tr>
          <tr>
            <td style="text-align: center;"><strong>Данные справочника</strong></td>
            <td style="text-align: center;"><strong>Фактические данные</strong></td>
          </tr>
          <tr>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">Взвешенные вещества</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">350</td>
            <td style="text-align: center;">800-1200</td>
          </tr>
          <tr>
            <td style="text-align: center;">2</td>
            <td style="text-align: center;">Жиры</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">до 100</td>
            <td style="text-align: center;">250-300</td>
          </tr>
          <tr>
            <td style="text-align: center;">3</td>
            <td style="text-align: center;">БПК<sub>5</sub></td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">1200</td>
            <td style="text-align: center;">1700-2300</td>
          </tr>
          <tr>
            <td style="text-align: center;">4</td>
            <td style="text-align: center;">ХПК</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">1400</td>
            <td style="text-align: center;">4100-4600</td>
          </tr>
          <tr>
            <td style="text-align: center;">5</td>
            <td style="text-align: center;">Общий азот</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">60</td>
            <td style="text-align: center;">115-150</td>
          </tr>
          <tr>
            <td style="text-align: center;">6</td>
            <td style="text-align: center;">Фосфаты</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">8</td>
            <td style="text-align: center;">25-110</td>
          </tr>
          <tr>
            <td style="text-align: center;">7</td>
            <td style="text-align: center;">рН</td>
            <td style="text-align: center;">-</td>
            <td style="text-align: center;">-</td>
            <td style="text-align: center;">4,2-4,5</td>
          </tr>
          </tbody>
        </table>
        <p>Как видно, показатели современных стоков превышают справочные данные в 3-4 раза. Это необходимо учитывать при
          <a href="/proektirovanie-ochistnykh-sooruzheniy/">проектировании</a> новых очистных сооружений или <a
              href="/rekonstrukcija/">реконструкции</a> существующих локальных установок по очистке данных стоков.</p>
        <p>В 80х-90х годах прошлого века сыворотка от молочного производства сбрасывалась в производственную сеть
          канализации в крайне незначительном количестве, и она не влияла на технологический процесс очистки
          производственных сточных вод. В настоящее время ситуация изменилась в худшую для технологии обработки стоков
          сторону, поскольку сыворотка представляет собой несбалансированный по биогенному и химическому составу
          концентрат. Попадание такого концентрата в технологическую цепочку биологического блока локальных очистных
          сооружений приводит к негативным последствиям. Во-первых, начинаются процессы ингибирования и «шока фауны»
          активного ила, во-вторых, это приводит к изменению качественного и количественного состава активного ила (в
          частности, к возрастанию популяции крайне нежелательных нитчатых бактерий). В-третьих, к нарушению работы
          вторичных отстойников из-за ухудшения седиментационных свойств активного ила, что приводит к его резкому
          выносу из сооружений очистки и следовательно крайне плачевным результатам по очистке стока.</p>
        <p>В основном молокозаводы «старой формации» оснащались стандартной системой очистки сточных вод, которая по
          сути своей ни чем не отличается от систем по очистке стандартных хозяйственно-бытовых сточных вод (первичный
          отстойник - аэротенк продленной аэрации (14-16ч) - вторичных отстойник). Данная технология не предполагает
          обработку такого «богатого» по количественному и качественному содержанию стока, и в результате залпового
          сброса накопившейся молочной сыворотки, очистные сооружения просто выходят из строя, т.к. в них гибнет вся
          флора активного ила, с последующим выносом отмерших бактерий из сооружений.</p>
        <p>Решением данной проблемы может служить промежуточная накопительная емкость, откуда сыворотка будет подаваться
          в очистные сооружения постоянным усредненным расходом. Это позволит обеспечить более стабильную работу
          очистных сооружений без критических ситуаций по нагрузке на ил, а также избежать необходимости капитальной
          реконструкции станции очистки.</p>
        <p>На стадии проектирования <a href="/stancii-ochistki-vody-biocompact/">локальных очистных сооружений</a> (ЛОС)
          для молочного производства крайне важно учесть специфику стока. Качественный и количественный состав сточных
          вод от молокозаводов увеличился в разы по отношению к справочным данным 80-х годов. Следовательно того набора
          оборудования, который устанавливался на старых производствах недостаточно, в силу ограниченной окислительной
          мощности. Для решения данной проблемы необходимо решить следующие вопросы:</p>
        <ol>
          <li>Усреднить сток по концентрациям и расходу;</li>
          <li>Установить промежуточный флотационный блок с периферийным оборудованием;</li>
          <li>Произвести реконструкцию существующей технологической цепочки;</li>
          <li>Установить дополнительный блок доочистки и обеззараживания.</li>
        </ol>
        <p>Остановимся на каждом вопросе отдельно.</p>
        <p>Усреднение стока необходимо для того чтобы система очистки сточных вод не имела залповых или шоковых
          поступлений как по концентрациям так и по расходу производственных сточных вод.</p>
        <p>Применение флотатора позволяет адаптировать сточные воды под возможности их очистки на биологическом цикле
          очистных сооружений. Эффективность обработки стока во флотаторе представлена в таблице.</p>
        <table style="width: 100%;">
          <tbody>
          <tr>
            <td style="text-align: center;"><strong>№ п/п</strong></td>
            <td style="text-align: center;"><strong>Показатели</strong></td>
            <td style="text-align: center;"><strong>Ед.изм.</strong></td>
            <td style="text-align: center;"><strong>Сточные воды перед флотатором</strong></td>
            <td style="text-align: center;"><strong>Сточные воды после флотатора</strong></td>
            <td style="text-align: center;"><strong>Эффективность,%</strong></td>
          </tr>
          <tr>
            <td style="text-align: center;">1</td>
            <td style="text-align: center;">Взвешенные вещества</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">2380</td>
            <td style="text-align: center;">766</td>
            <td style="text-align: center;">68</td>
          </tr>
          <tr>
            <td style="text-align: center;">2</td>
            <td style="text-align: center;">Жиры</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">345</td>
            <td style="text-align: center;">88</td>
            <td style="text-align: center;">74</td>
          </tr>
          <tr>
            <td style="text-align: center;">3</td>
            <td style="text-align: center;">БПК<sub>5</sub></td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">9460</td>
            <td style="text-align: center;">4220</td>
            <td style="text-align: center;">55</td>
          </tr>
          <tr>
            <td style="text-align: center;">4</td>
            <td style="text-align: center;">ХПК</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">17800</td>
            <td style="text-align: center;">6900</td>
            <td style="text-align: center;">61</td>
          </tr>
          <tr>
            <td style="text-align: center;">5</td>
            <td style="text-align: center;">Азот аммонийных солей</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">27</td>
            <td style="text-align: center;">17,4</td>
            <td style="text-align: center;">36</td>
          </tr>
          <tr>
            <td style="text-align: center;">6</td>
            <td style="text-align: center;">Фосфаты</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">16,4</td>
            <td style="text-align: center;">2,3</td>
            <td style="text-align: center;">8,6</td>
          </tr>
          <tr>
            <td style="text-align: center;">7</td>
            <td style="text-align: center;">рН</td>
            <td style="text-align: center;">-</td>
            <td style="text-align: center;">4,13</td>
            <td style="text-align: center;">6,2</td>
            <td style="text-align: center;">-</td>
          </tr>
          <tr>
            <td style="text-align: center;">8</td>
            <td style="text-align: center;">Общее железо</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">11,6</td>
            <td style="text-align: center;">6,16</td>
            <td style="text-align: center;">47</td>
          </tr>
          <tr>
            <td style="text-align: center;">9</td>
            <td style="text-align: center;">Сухой остаток</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">15831</td>
            <td style="text-align: center;">11221</td>
            <td style="text-align: center;">29</td>
          </tr>
          <tr>
            <td style="text-align: center;">10</td>
            <td style="text-align: center;">СПАВан</td>
            <td style="text-align: center;">мг/л</td>
            <td style="text-align: center;">0,976</td>
            <td style="text-align: center;">0,847</td>
            <td style="text-align: center;">13</td>
          </tr>
          </tbody>
        </table>
        <p>Реконструкция позволяет увеличить окислительную мощность, путем перегруппировки и зонированию аэрационного
          бассейна, применения современных систем аэрации, модернизации перемешивающих устройств, систем рециркуляции
          активного ила.</p>
        <p>Установка реакторов доочистки и узла УФ-обеззараживания позволяет убрать остаточные следы загрязняющих
          веществ перед сбросом очищенных сточных вод  в водоём рыбо-хозяйственного назначения.</p>
        <p>Все эти технологические решения применены в линейке станций по очистке промышленных сточных вод ООО
          «Биокомпакт» для предприятий молочной отрасли. Наши профессиональные знания, опыт и оборудование помогут Вам в
          решении проблем по обработке промышленных стоков Вашего предприятия.</p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
