---
layout: main.html
title: Реконструкция очистных сооружений, КНС, станций водоподготовки | Биокомпакт
description: Если на Вашем объекте имеются существующие очистные сооружения , ВЗУ или станция водоподготовки, то при частичном износе капитальных строений или емкостной
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Реконструкция</h1>
      <div class="entry-content"><p class="p2">Если на Вашем объекте имеются существующие очистные сооружения , ВЗУ или
        станция водоподготовки, то при частичном износе капитальных строений или емкостной части для снижения затрат
        целесообразно проводить реконструкцию либо капитальный ремонт.</p>
        <p class="p2">В зависимости от степени износа сооружений объем реконструкции может быть различным и сводится к
          двум основным вариантам:</p>
        <ul>
          <li class="p2">При незначительном износе капитальных строений и емкостной части производится замена устаревших
            и изношенных технологических узлов, энергосилового и электротехническ
            <wbr/>
            ого оборудования на новое.
          </li>
          <li class="p2">При значительном износе сооружений существующие емкостные конструкции используются в качестве
            обсадной камеры для установки внутрь готового блочного оборудования, а рядом монтируются блоки
            укомплектованные энергосиловым оборудованием и системами управления.
          </li>
        </ul>
        <p class="p2">При любом из вариантов реконструкции и капитального ремонта производится модернизация
          технологической схемы очистки, что позволяет обеспечить качество очистки воды удовлетворяющее современным
          нормам очистки воды и в дальнейшем сократить эксплуатационные затраты.</p>
        <p class="p2">При сохранении производительнос
          <wbr/>
          ти ВЗУ или очистных сооружений полного объема согласования проекта не требуется, т.к. работы ведутся на
          существующей площадке. Поэтому работы по проектированию и монтажу могут выполняться параллельно.
        </p>
        <p class="p2">Нами реализовано несколько объектов проводимых в рамках реконструкции и капитального ремонта, что
          позволило Заказчикам без расширения занимаемой площадки и значительных капитальных затрат получить современные
          инженерные сооружения по очистке воды.</p>
        <p class="p2">Выезд на объект, осмотр и выдача первичных рекомендаций по вопросам реконструкции производится
          нашими специалистами бесплатно.</p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
