---
layout: main.html
title: Как подобрать очистные сооружения канализации для коттеджного поселка или малоэтажной застройки | Биокомпакт
description: >
Основными факторами при выборе станции очистки сточных вод являются: будущее место расположения очистных сооружений; очередность ввода жилья в
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Как подобрать очистные сооружения канализации для коттеджного
      поселка или малоэтажной застройки</h1>
      <div class="entry-content"><p>Основными факторами при выборе станции очистки сточных вод являются:</p>
        <p>- будущее место расположения очистных сооружений;</p>
        <p>- очередность ввода жилья в эксплуатацию;</p>
        <p>- вид сброса очищенных сточных вод.</p>
        <p>При выборе места посадки очистных сооружений будет оптимальным найти участок максимально удаленный от жилья,
          с минимальной стоимостью и в самом низком месте на территории застройки. По факту, не всегда все эти
          условия выполняются (по разным причинам: высокая плотность застройки поселка, особенности рельефа, наличие
          водоохранной зоны водоема в непосредственной близости и т.д.).</p>
        <p>Очень часто бывает, что место, отведенное для посадки очистных сооружений на территории, имеет весьма сжатые
          габариты и находится рядом с жильем. В таком случае единственно возможной остается установка блочных
          (модульных) станций очистки в компактном исполнении, также именуемых локальными очистными сооружениями (ЛОС) с
          минимальной санитарно-защитной зоной (15-20м).</p>
        <p>Вид сброса очищенных сточных вод тоже накладывает свои условия на тип станции очистки. При отводе очищенных
          стоков в грунт выполняется устройство фильтрующих траншей и дренажной системы, но такое исполнение возможно
          для малого количества стоков (до 100 м<sup>3</sup>/сут). При большей производительности очистных сооружений
          это занимает значительную территорию и может привести к забиванию и преждевременному кольматированию системы
          при несоблюдении качества отводимых вод. Отвод очищенных сточных вод в водный объект более распространен для
          поселков, поэтому качество очистки должно соответствовать ПДК для сброса в водоемы рыбохозяйственного
          значения, что обязывает устанавливать станции очистки с полным циклом очистки и обеззараживания стоков.</p>
        <p>Сегодня на рынке есть несколько основных разновидностей такого оборудования. Их основными различиями, сильно
          сказывающимися на цене данного оборудования, удобстве его эксплуатации и надежности работы, являются:</p>
        <p>- технологическая схема очистки;</p>
        <p>- наличие резервного оборудования;</p>
        <p>- конструктивные решения.</p>
        <p>Технологическая схема должна включать в себя полный спектр видов очистки от механической очистки, до
          обеззараживания сточных вод. Обязательно наличие на очистных сооружениях резервного энергосилового
          оборудования (насосы, компрессоры и т.д.), поскольку выход рабочего оборудования из строя без наличия резерва
          сразу скажется на работоспособности станции очистки в целом. При этом его номенклатура должна быть
          минимальной, т.к. значительное количество различных насосов, мешалок и др. понижает степень надежности всей
          системы и увеличивает эксплуатационные затраты.</p>
        <p>Также при выборе технологической схемы блочных очистных сооружений не рекомендуется наличие на станции
          очистки фильтров с сорбционной (угольной) загрузкой, т.к. при проскоке загрязнений (залповое поступление
          ливневых вод, гибель активного ила из-за наличия несвойственных загрязнений, ошибка обслуживающего персонала
          при эксплуатации и т.д.) эти элементы очень быстро выходят из строя и полное восстановление их
          работоспособности возможно только после замены дорогостоящей загрузки.</p>
        <p>Конструкция емкостных блоков станции очистки должна обеспечивать их жесткость и простоту монтажа. Это
          особенно актуально при производстве строительно-монтажных работ, т.к. при ошибках строителей во время
          обваловки (или обратной засыпки), а также проведения данных работ в зимний период корпуса емкостей могут
          треснуть или значительно деформироваться. Также некоторые виды ЛОС не могут опорожняться из-за своих
          конструктивных особенностей. Данные проблемы свойственны в основном  стеклопластиковым, полипропиленовым и
          полиэтиленовым корпусам станций очистки. Исполнение корпусов в металле с усиленным каркасом обеспечивает
          необходимую жесткость как при заглубленном, так и наземном варианте посадки. Единственным плюсом выполнения
          корпусов из пластика является увеличенный срок службы (50 лет вместо 30), но пластик накладывает определенные
          условия на форму и габаритные размеры корпусов. Так стеклопластиковые корпуса выполняются в виде цилиндра, а
          полипропиленовые емкости имеют малые габариты. Такое исполнение удобно для очистных сооружений с небольшими
          производительностями (до 200м<sup>3</sup>/сут) и наличием достаточной площадки для размещения. Металлические
          корпуса с антикоррозионным покрытием могут выполняться со значительными габаритами, а прямоугольная форма
          обеспечит максимально удобную стыковку и компактность, что позволяет уменьшить площадь ЛОС и снизить затраты
          при строительных работах. Также стоимость оборудования из пластика при прочих равных условиях выше
          металлических аналогов на 30-40%. Таким образом на сегодняшний день по соотношению цена/качество/надежность
          блочные станции очистки стоков в металлическом исполнении являются оптимальным вариантом для
          производительностей очистных сооружений поселка более 200 м<sup>3</sup>/сут.</p>
        <p>Обязательным условием при выборе локальных очистных сооружений является осмотр аналогичного действующего
          оборудования. При осмотре обращайте внимание на степень удобства эксплуатации технологических узлов в
          емкостной части и энергосилового оборудования, а также возможность контроля всей цепочки ступеней очистки. В
          том случае, если обслуживание оборудования осложнено доступом к нему или зоны очистки практически не доступны
          для контроля, это однозначно скажется на работоспособности станции и качестве очистки сточных вод. Также при
          осмотре необходимо убедиться в качестве очистки сточных вод. При невозможности самостоятельно выполнить
          анализы стоков, рекомендуется осмотреть очищенные стоки на выходе. Во взятой пробе очищенная сточная вода
          должна быть прозрачной и не иметь запаха и взвеси. Это, конечно, не подтвердит полной нормативной очистки, но
          будет говорить о наличии процесса основной биологической очистки на очистных сооружениях. На ЛОС не допустимо
          присутствие запаха гниения, т.к. на нормально работающих очистных сооружениях незначительный запах допустим
          только в зонах механической очистки и  усреднения из-за наличия сырой воды.</p>
        <p>Подводя итог данным рекомендациям можно сказать, что при выборе канализационных очистных сооружений поселка
          для обеспечения их работоспособности и регламентной работы, нужно руководствоваться не только ценовым
          критерием, но и их техническими характеристиками и обеспечением удобства эксплуатации.</p>
        <p>&nbsp;</p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
