---
layout: main.html
title: Водозаборные узлы (ВЗУ) и водоподготовка | Биокомпакт
description: Станции водоподготовки для хозяйственно-питьевых и производственных нужд. Блочные станции водоподготовки предназначены для очистки воды для хозяйственно
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Водозаборные узлы (ВЗУ) и водоподготовка</h1>
      <div class="entry-content"><p><span id="more-80"></span></p>
        <p class="p2"><span class="s2">Блочные станции водоподготовки предназначены для очистки </span><span class="s3">воды для хозяйственно-пит<wbr/>ьевых и производственных нужд </span><span
            class="s2">коттеджных поселков, малоэтажной застройки, микрорайонов, складских комплексов, промышленных предприятий, спортивных баз, санаториев и т.д.</span>
        </p>
        <p class="p2"><span class="s2">Диапазон производительностей станций водоочистки - </span><strong><span
            class="s4">5 - 100 м</span><sup><span class="s5">3</span></sup><span class="s4">/ч.</span></strong></p>
        <p class="p2"><span class="s2">Оборудование может поставляться в блочном исполнении с полной заводской готовностью, укомплектованным всеми необходимыми технологическими и энергосиловыми узлами и агрегатами, а также монтироваться непосредственно на объекте в капитальном павильоне.</span>
        </p>
        <p class="p2"><span class="s2">Качество воды на выходе из станции удовлетворяет СанПиН 2.1.4.1074-01. «Питьевая вода и водоснабжение населенных мест» и ГОСТ 2874-82. «Вода питьевая», либо требованиям ТЗ заказчика промышленного предприятия.</span>
        </p>
        <p class="p2"><span class="s2">Наша компания предоставляет полный комплекс работ по реализации водоснабжения объектов, включая сопровождение и получение лицензии на водопользование, бурение артезианских скважин, проведение анализов и подбор оптимальной набора узлов системы водоочистки, который обеспечит последующую работу с минимальными эксплуатационным<wbr/>и затратами.</span>
        </p>
        <p class="p2"><span class="s3">Технология водоподготовки учитывает требования СНиП 2.04.02-84 и включает в себя полный перечень этапов необходимый для достижения качества очистки с учетом гидрологических условий на каждом объекте.</span>
        </p>
        <p class="p2"><span class="s3">В состав водоочистного оборудования в зависимости от состава воды и требований к ее очистки могут входить следующие узлы:</span>
        </p>
        <ul>
          <li class="p2"><strong><span class="s6">обезжелезивание</span></strong><span class="s3"> с применением аэрационных емкостей и осветлительных фильтров;</span>
          </li>
          <li class="p2"><strong><span class="s6">умягчение и обессоливание</span></strong><span class="s3"> с применением фильтров с ионообменной смолой;</span>
          </li>
          <li class="p2"><strong><span
              class="s6">удаление взвешенных веществ, микроэлементов и запаха</span></strong><span class="s3"> с применением сорбционных фильтров;</span>
          </li>
          <li class="p2"><strong><span class="s6">обеззараживание</span></strong><span class="s3"> с применением УФ-установок и озонирования.</span>
          </li>
        </ul>
        <p class="p2"><span class="s3">При необходимости достижения более жестких требований по качеству очистки воды (например для производственных нужд или водоподготовки котельных) могут применяться мембраны и установки обратного осмоса.</span>
        </p>
        <p class="p2">Для обеспечения норм пожаротушения и запаса водопроводной воды для потребителей в состав
          оборудования могут входить резервуары чистой воды. Материал РЧВ в зависимости от местных условий может быть
          различным (металл, бетон, стеклопластик). Также в состав оборудования ВЗУ входят насосные станции второго
          подъема, производительность и напор которых определяются в зависимости от количества потребителей, высотности
          зданий и разветвленности водоразборной сети на объекте.</p>
        <p class="p2"><span class="s3">Работа всех узлов и агрегатов системы водоподготовки автоматизирована<wbr/>, поэтому постоянного присутствия обслуживающего персонала не требуется.</span>
        </p>
        <p class="p2"><span class="s2">В процессе дальнейшей эксплуатации мы предлагаем различные варианты технологического сопровождения оборудования. <a
            href="/ekspluatacija-servis/">Подробнее</a></span></p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
