---
layout: main.html
title: Изготовление очистных сооружений, КНС, станций водоподготовки | Биокомпакт
description: Наша производственная база по изготовлению блочных станций очистки располагается в Московской области. Ее мощность позволяет выполнить значительные объемы
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Изготовление</h1>
      <div class="entry-content"><p>Наша производственная база по изготовлению блочных станций очистки располагается в
        Московской области. Ее мощность позволяет выполнить значительные объемы заказов в минимальные сроки.</p>
        <p class="p2">В процессе изготовления оборудования ведется постоянный производственный контроль. Все первичные
          испытания и обкатка оборудования проводятся на производстве в соответствии с ГОСТ. Таким образом достигается
          максимальная надежность всей системы в минимальные сроки.</p>
        <p class="p2">Производственный персонал имеет большой опыт и высокую квалификацию, что подтверждено
          соответствующими удостоверениями и дипломами.</p>
        <p class="p2">При покраске применяются современные антикоррозийные составы, обеспечивающие надежную защиту и
          долговечность конструкций.</p>
        <p class="p2">Корпуса блоков очистных сооружений и КНС могут изготавливаться из металла или стеклопластика.
          Каждый из этих материалов имеет ряд особенностей и применяется в зависимости от производительнос
          <wbr/>
          ти сооружений, местных условий и требований Заказчика.
        </p>
        <p class="p2">При изготовлении электротехническ
          <wbr/>
          ого оборудования (шкафы управления, щиты сигнализации и тп.) применяются комплектующие от ведущих
          производителей. Контроллеры, устанавливаемые в системах управления, имеют возможность программирования для
          различных функций и задач.
        </p>
        <p class="p2">Применяемое энергосиловое оборудование (насосы, компрессоры, УФ-установки и др.) опробовано на
          многих объектах и по опыту эксплуатации имеет достаточный ресурс и надежность.</p>
        <p class="p2">При изготовлении очистных сооружений хозяйственно-быт
          <wbr/>
          овых сточных вод в емкостных блоках устанавливаются узлы аэрации и циркуляции активного ила. Данные
          технологические узлы выполняются из пластика и имеют срок службы до 50 лет. Системы перемешивания активного
          ила в зависимости от типа и производительнос
          <wbr/>
          ти очистных сооружений могут изготавливаться из полимерных материалов либо с применением механизированных
          мешалок.
        </p>
        <p class="p2">При изготовлении ливневых очистных сооружений в емкостных блоках устанавливаются полимерные нефте-
          и пескоотделители, которые не требуют замены, а также кассеты с фильтровальной коалесцирующей и сорбционной
          загрузкой.</p>
        <p class="p2">Блок-посты очистных сооружений и станций водоподготовки изготавливаются в виде утепленных боксов
          имеющих системы отопления, вентиляции и освещения, а также укомплектованные технологическим оборудованием.</p>
        <p class="p2">В рамках поставки очистных сооружений, КНС и станций водоподготовки мы осуществляем доставку
          нашего оборудования на объект в любую точку РФ габаритным и негабаритным автотранспортом, а также
          железнодорожным транспортом.</p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
