---
layout: main.html
title: Проблемы при работе очистных сооружений | Биокомпакт
description: Одной из важных характеристик, влияющих на процесс биологической очистки сточных вод, является качество седиментации активного ила во вторичном отстойнике. От
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Проблемы при работе очистных сооружений</h1>
      <div class="entry-content"><p class="p2"><span class="s2">Одной из важных характеристик, влияющих на процесс биологической очистки сточных вод, является качество седиментации активного ила во вторичном отстойнике. От этого параметра зависят показатели очищенных стоков на выходе из очистных сооружений, удобство эксплуатации и обслуживания станции очистки.</span>
      </p>
        <p class="p2"><span class="s2">Нередкой проблемой является ухудшение седиментационных свойств активного ила с последующим «вспуханием». При этом иловый индекс может повышаться до 150 мл/г. Это затрудняет разделение ила и очищаемой воды во вторичных отстойниках и приводит к выносу части активного ила из сооружений в сбросной коллектор. Помимо загрязнения очищенных стоков илом, ухудшается качество биологической очистки в аэротенке из-за снижения степени рециркуляции активного ила.</span>
        </p>
        <p class="p2"><span class="s2">В ходе проведенных исследований данной проблемы были учтены многие факторы, влияющие на процессы биологической очистки стоков: температура очищаемой жидкости, доза активного ила, иловый индекс, концентрация нитратов и сульфидов.</span>
        </p>
        <p class="p2"><span class="s2">Выяснилось, что основной причиной процесса вспухания ила является интенсивный рост количества серных нитчатых бактерий при определенных условиях. Особенность этой группы микроорганизмов заключается в способности окислять сероводород в процессе метаболизма.</span>
        </p>
        <p class="p3"><span class="s2">При сравнении проб активного ила из аэротенков была видна четкая зависимость значений илового индекса (основного показателя вспухания) и содержания сульфидов (сероводород - сульфид водорода</span><span
            class="s3">)</span><span class="s2"> При значительном повышении концентрации сульфидов иловый индекс достигал значений 1000 мл/г. Также была отмечена зависимость между температурой обрабатываемой жидкости и иловым индексом. Это связано с двумя факторами: с одной стороны, повышение температуры ускоряет процессы метаболизма и размножения нитчатых бактерий, с другой – активирует анаэробные процессы в канализационных коллекторах с образованием сероводорода.</span>
        </p>
        <p class="p3"><span class="s2">Повышенное содержание нитратов, напротив, угнетает анаэробный процесс, это ведет к снижению концентрации сульфидов в системе «аэротенк - вторичный отстойник», что замедляет рост бактерий.</span>
        </p>
        <p class="p3"><span class="s2">Полученные в ходе исследования данные дали возможность понять механизм этого сложного процесса и определить способы воздействия на него, и предотвратить нарушения процесса биологической очистки.</span>
        </p>
        <p class="p2"><span class="s2">Специалисты Биокомпакт имеют большой опыт пуско-наладочных работ на очистных сооружениях. Глубокое понимание тонкостей процессов, происходящих внутри станции позволяет произвести максимально точную наладку в короткий срок.</span>
        </p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
