---
layout: main.html
title: Статьи об очистке сточных вод | Биокомпакт
description: Блочные очистные сооружения Блочные очистные сооружения бытовых, производственных и ливневых сточных вод актуальны для применения на объектах с малым и средним
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Статьи</h1>
      <div class="entry-content">
        <table class=" alignleft">
          <tbody>
          <tr>
            <td>
              <div class="column1-3s">
                <h4><a href="/blochnye-ochistnye-sooruzheniya/">Блочные очистные сооружения</a></h4>
                <p>Блочные очистные сооружения бытовых, производственных и ливневых сточных вод актуальны для применения
                  на объектах с малым и средним объемом сточных вод (до 3000 м3/сут) при...</p></div>
              <div class="column1-3s">
                <h4><a href="/ochistnye-sooruzheniya-kottedzhnyj-poselok/">Выбор очистных сооружений для коттеджных
                  поселков</a></h4>
                <p>Основными факторами при выборе станции очистки сточных вод являются: будущее место расположения
                  очистных сооружений; очередность ввода жилья в эксплуатацию...</p></div>
              <div class="column1-3s">
                <h4><a href="/evtrofikacija-ochistka-vody/">Эвтрофикация</a></h4>
                <p>Как известно, природа любит равновесие и не терпит грубого вмешательства извне. Наиболее ярким
                  примером служит экосистема водоема. Под поверхностью воды протекает сложная...</p></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="column1-3s">
                <h4><a href="/problemy-ochistnyh-sooruzhenij/">Проблемы при работе очистных сооружений</a></h4>
                <p>Одной из важных характеристик, влияющих на процесс биологической очистки сточных вод, является
                  качество седиментации активного ила во вторичном отстойнике. От этого параметра зависят показатели
                  очищенных...</p></div>
              <div class="column1-3s"><h4><a href="/sistemy-aeracii-ochistnyh-sooruzhenij/">Системы аэрации в очистных
                сооружениях</a></h4>
                <p>Главным элементом в очистных сооружениях с биологической очисткой сточных вод является аэротенк. По
                  сути, это емкость в которой создаются оптимальные условия для зарождения, жизнедеятельности и...</p>
              </div>
              <div class="column1-3s">
                <h4><a href="/ochistka-stochnyh-vod-molochnogo-zavoda/">Очистка сточных вод
                  молочных заводов</a></h4>
                <p>Значительное количество молокозаводов в РФ было возведено и введено в эксплуатацию ещё во времена
                  СССР и выпускали узкий ассортимент продукции, изготавливающаяся в строгом соответствии с...</p></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="column1-3s">
                <h4><a href="/zagruzka-ochistka-stochnyh-vod/">Применение загрузки</a></h4>
                <p>Активный ил на станциях биологической очистки сточных вод представляет собой достаточно устойчивую
                  систему, способную к определенной адаптации, в зависимости от...</p></div>
              <div class="column1-3s">
                <h4><a href="/rekonstrukcija-ochistnyh-sooruzhenij-2/">Реконструкция</a></h4>
                <p>Реконструкция очистных сооружений является очень выгодным, с точки зрения технико-экономических
                  показателей мероприятием. Однако, достижение нормативных показателей очистки...</p></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
