---
layout: main.html
title: Системы очистки сточных вод. | Биокомпакт
description: Проектирование, изготовление, монтаж и наладка наших очистных сооружений и станций водоподготовки ведется во всех регионах РФ Москва, Московская область
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Контакты</h1>
      <div class="entry-content"><p>Проектирование, изготовление, монтаж и наладка наших очистных сооружений и станций
        водоподготовки ведется во всех регионах РФ: Москва, Московская область, Ленинградская область, Астрахань, Орел,
        Нижний Новгород, Казань, Сочи, Воронеж, Курск, Омск, Томск, Екатеринбург, Владивосток, Камчатский край и др.</p>
        <p>Специалисты ООО «Биокомпакт» всегда готовы помочь в подборе оборудования и варианте исполнения, исходя из
          Ваших пожеланий и специфики местных условий.</p>
        <p>При проведении тендеров настоятельно рекомендуем осмотреть реализованные объекты. Мы готовы организовать
          выезд на наши очистные сооружения и ВЗУ для ознакомления с их работой и процессом эксплуатации.</p>
        <div class="column1-2">
          <strong>Наши контакты</strong>
          <p>
            Телефон: <a href="tel:+74994446834">+7 (499) 444-68-34</a><br/>
            Email: <a href="mailto:info@biocompact.ru">info@biocompact.ru</a>
          </p>
          <p>
            <strong>Адрес</strong><br>
            <span>Московская обл, г. Мытищи, ул. Силикатная, 36</span>
          </p>
        </div>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
