---
layout: main.html
title: Применение природных процессов при проектировании станций очистки сточных вод | Биокомпакт
description: Как известно, природа любит равновесие и не терпит грубого вмешательства извне. Наиболее ярким примером служит экосистема водоема. Под поверхностью воды
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Эвтрофикация водоемов</h1>
      <div class="entry-content"><p align="JUSTIFY">Как известно, природа любит равновесие и не терпит грубого
        вмешательства извне. Наиболее ярким примером служит экосистема водоема. Под поверхностью воды протекает сложная
        и насыщенная жизнь, в которой участвуют и взаимодействуют многие элементы. Главной угрозой для данного
        равновесия уже многие годы является антропогенный фактор, в частности, бытовые сточные воды. Городские стоки в
        своем составе имеют большое количество биогенных элементов, а именно: азота, фосфора и фтора. Попадание их в
        высоких концентрациях в водоем грозит фатальными последствиями.</p>
        <p align="JUSTIFY">Одним из важнейших показателей, по которым определяют состояние водоема, является
          эвтрофикация. Уровень эвтрофикации повышается при поступлении большого количества биогенных элементов в
          водоем. Рассмотрим подробнее, что при этом происходит.</p>
        <p align="JUSTIFY">При повышении концентрации вышеуказанных элементов в верхних слоях воды происходит обильное
          размножение фитопланктона (сине-зеленых и зеленых водорослей), вследствие чего падает прозрачность воды и
          уменьшается количество света, поступающее к донным растениям. Это, в свою очередь, приводит к гибели
          организмов, для которых эти растения были средой обитания и пищей. Также, обилие размножающихся в
          поверхностных слоях одноклеточных водорослей ведет к понижению концентрации кислорода, из-за чего гибнут
          требовательные к содержанию кислорода организмы. Далее происходит разложение погибших и опустившихся на дно
          организмов с выделением ядовитых веществ в виде фенолов, сероводорода, метана и др. При этом погибают менее
          требовательные к кислородным условиям представители донной фауны. В результате происходит ухудшение
          санитарно-гигиен
          <wbr/>
          ических показателей воды. Такая вода уже непригодна для хозяйственно-быт
          <wbr/>
          ового использования.
        </p>
        <p align="JUSTIFY">Грамотное проектирование и монтаж очистных сооружений, правильный выбор оборудования и
          профессиональная наладка являются мощным барьером для биогенных элементов на пути к природному водоему. На
          блочно-модульных станциях очистки «Биокомпакт» достигаются показатели очищенных сточных вод, удовлетворяющие
          нормам для рыбохозяйственны
          <wbr/>
          х водоемов. Это подтверждается анализами аккредитованных лабораторий. Кроме того, компания «Биокомпакт»
          предоставляет услуги по техническому сопровождению станции для профилактики нарушений технологических
          процессов и обеспечения постоянной надежности очистки.
        </p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
