---
layout: main.html
title: Канализационные насосные станции (КНС) | Биокомпакт
description: Канализационные насосные станции перекачки бытовых, ливневых и промышленных стоков. Блочные канализационные насосные станции «Биокомпакт» предназначены для
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Канализационные насосные станции</h1>
      <div class="entry-content"><p><span id="more-63"></span></p>
        <p class="p2"><span class="s2">Блочные канализационные насосные станции «Биокомпакт» предназначены для перекачки хозяйственно-бытовых, ливневых и производственных сточных вод от жилой застройки, складских комплексов, промышленных предприятий, спортивных баз, санаториев и т.д.</span>
        </p>
        <p class="p2"><span class="s2">Диапазон производительностей станций - </span><strong><span
            class="s3">5 - 700 м</span><sup><span class="s4">3</span></sup><span class="s3">/ч </span></strong><span
            class="s2">и глубиной заложения подводящего коллектора до </span><strong><span
            class="s3">7 м</span></strong><span class="s2">.</span></p>
        <p class="p2"><span class="s2">Наше оборудование имеет полную заводскую готовность и поставляется на объект в виде блоков, укомплектованных всеми необходимыми технологическими и энергосиловыми узлами и агрегатами. Это позволяет значительно сократить расходы и сроки монтажных работ и строительства объекта в целом.</span>
        </p>
        <p class="p2"><span class="s2">Блоки выполнены из долговечных материалов с каркасной конструкцией, обеспечивающей достаточную жесткость при значительном заглублении.</span>
        </p>
        <p class="p2"><span class="s2">Модульные КНС работают в автоматическом режиме с обеспечением диспетчеризации работы оборудования и качества подаваемой электроэнергии.</span>
        </p>
        <p class="p2">
        <div class="tab-me-wrapper">
          <ul class="tab-me-tabs">
            <li class="active"><a href="javascript:void(0)" rel="tab1851"><span>Технология</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1377"><span>Характеристики</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1191"><span>Особенности</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1567"><span>Типы исполнения</span></a></li>
            <li><a href="javascript:void(0)" rel="tab1726"><span>Обслуживание</span></a></li>
          </ul>
          <div class="tab-me-content-wrapper">
            <div class="tab-me-tab-content" id="tab1851"><p class="p2"><span class="s2">Поступившие в КНС сточные воды сначала попадают в решетчатый (либо перфорированный) контейнер сбора крупных отбросов, оборудованный откидным дном. Затем стоки собираются в приемном отделении расчитанном в соответствии с СП 32.13330.2012. Далее сточные воды перекачиваются погружными насосами. Часть перекачиваемой жидкости подается в систему взмучивания для смыва осадка со дна приемного отделения.</span>
            </p>
              <p class="p2"><span class="s2">Насосы КНС имеют резерв. Для удобства эксплуатации и обслуживания запорно-регулирующей арматуры и насосов КНС оборудованы лестницами и полноценной площадкой обслуживания.</span>
              </p>
              <p class="p2"><span class="s2">Для подъема решетчатого контейнера и насосов на КНС комплектуется электрической (или ручной) талью на поворотной укосине. Спуск/подъем контейнера и насосов осуществляется по направляющим. Система крепления насосов обеспечивает их снятие и установку без спуска в КНС персонала.</span>
              </p>
              <p class="p2"><span class="s2">КНС оборудованы системой приточно-вытяжной вентиляции.</span></p>
              <p></div>
            <div class="tab-me-tab-content" id="tab1377" style="display:none"><br/> При стандартном заглублении
              подводящего коллектора до 3м и общем напоре до 15м основные характеристики КНС будут следующими:</p>
              <div>
                <table style="width: 100%;">
                  <tbody>
                  <tr>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong><span class="s5">Производительность, м</span><sup><span
                        class="s6">3</span></sup><span class="s5">/ч</span></strong></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong>Габаритные размеры
                      оборудования, м</strong></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong>Ориентировочная
                      потребляемая мощность, кВт</strong></td>
                    <td style="width: 25%; text-align: center; vertical-align: top;"><strong>Диаметр напорных патрубков,
                      мм</strong></td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">5</td>
                    <td style="width: 25%; text-align: center;">Ø 1,5 / h 4,5</td>
                    <td style="width: 25%; text-align: center;">1,8кВт</td>
                    <td style="width: 25%; text-align: center;">50</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">20</td>
                    <td style="width: 25%; text-align: center;">Ø 1,8 / h 5,0</td>
                    <td style="width: 25%; text-align: center;">3,8кВт</td>
                    <td style="width: 25%; text-align: center;">80</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">40</td>
                    <td style="width: 25%; text-align: center;">Ø 2,0 / h 6,0</td>
                    <td style="width: 25%; text-align: center;">4,8кВт</td>
                    <td style="width: 25%; text-align: center;">80</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">60</td>
                    <td style="width: 25%; text-align: center;">Ø 2,5 / h 6,0</td>
                    <td style="width: 25%; text-align: center;">6,5кВт</td>
                    <td style="width: 25%; text-align: center;">100</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">100</td>
                    <td style="width: 25%; text-align: center;">Ø 3,0 / h 6,0</td>
                    <td style="width: 25%; text-align: center;">7,5кВт</td>
                    <td style="width: 25%; text-align: center;">150</td>
                  </tr>
                  <tr>
                    <td style="width: 25%; text-align: center;">200</td>
                    <td style="width: 25%; text-align: center;">Ø 3,4 / h 6,5</td>
                    <td style="width: 25%; text-align: center;">13,0кВт</td>
                    <td style="width: 25%; text-align: center;">200</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p>Мы изготавливаем КНС с любыми характеристиками в зависимости от требований Заказчика и местных
                условий.</p>
              <p></div>
            <div class="tab-me-tab-content" id="tab1191" style="display:none"></p>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/kns9.jpg"><img
                        src="/wp-content/uploads/kns9s.jpg" alt="" width="220"/></a></div>
                    <div class="column1-60"><span
                        class="s2">Насосные станции производительностью от </span><strong><span
                        class="s3">40 м</span><sup><span class="s4">3</span></sup><span
                        class="s3">/ч</span></strong><span class="s2"> могут быть укомплектованы наземным утепленным блок-постом для удобства эксплуатации.</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td>
                    <div class="column1-20"><a class="fancybox" href="/wp-content/uploads/kns1.jpg"><img
                        src="/wp-content/uploads/kns1s.jpg" alt="" width="220"/></a></div>
                    <div class="column1-60"><span class="s2">КНС производительностью от </span><strong><span class="s3">300 м</span><sup><span
                        class="s4">3</span></sup><span class="s3">/ч </span></strong><span class="s2">могут реализовываться в железобетонном исполнении с установкой дополнительного технологического оборудования (дробилки, механизированные решетки и тд.)</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
              <p></div>
            <div class="tab-me-tab-content" id="tab1567" style="display:none"></p>
              <table>
                <tbody>
                <tr>
                  <td><a class="fancybox" href="/wp-content/uploads/kns2.jpg"><img src="/wp-content/uploads/kns2s.jpg"
                                                                                   alt="" width="220"/></a><br/>
                    <strong><span class="s3">Без наземного блок-поста </span></strong><span class="s2">над корпусом актуально для небольших КНС, на площадках совмещенных с очистными сооружениями, а также на закрытых территориях.</span>
                  </td>
                </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                <tr>
                  <td><a class="fancybox" href="/wp-content/uploads/kns8.jpg"><img src="/wp-content/uploads/kns8s.jpg"
                                                                                   alt="" width="220"/></a></td>
                  <td><strong><span class="s3">С наземным блок-постом</span></strong><span class="s2"> над корпусом подходит для отдельно стоящих КНС средней и большой производительности и КНС северного исполнения.</span>
                  </td>
                </tr>
                </tbody>
              </table>
              <p></div>
            <div class="tab-me-tab-content" id="tab1726" style="display:none"></p><p class="p2"><span class="s2">Для эксплуатации очистных сооружений не требуется специально выделенный персонал. КНС может эксплуатироваться дежурными персоналом либо сантехниками с совмещением обязанностей.</span>
            </p>
              <p class="p2"><span class="s2">Очистка решетчатого контейнера от отбросов производится механизированным способом и занимает незначительное время.</span>
              </p>
              <p class="p2"><span class="s2">Обучение персонала осуществляется нашими специалистами. </span></p>
              <p class="p2"><a href="/ekspluatacija-servis/">Подробнее</a></p>
              <p></div>
          </div>
        </div>
        </p></div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
