---
layout: main.html
title: Системы аэрации в очистных сооружениях | Биокомпакт
description: Главным элементом в очистных сооружениях с биологической очисткой сточных вод является аэротенк. По сути, это емкость в которой создаются оптимальные условия
---
<div class="space30"></div>
<div class="container">
  <div class="page_content">
    <section class="site-main"><h1 class="entry-title">Системы аэрации в очистных сооружениях</h1>
      <div class="entry-content">
        <p>Главным элементом в очистных сооружениях с биологической очисткой сточных вод является аэротенк. По сути, это
          емкость в которой создаются оптимальные условия для зарождения, жизнедеятельност
          <wbr/>
          и и размножения бактерий и простейших организмов, объединенных в биоценоз, который называется «активный ил».
          Одним из важнейших факторов для обеспечения таких условий является правильный режим поступления кислорода в
          зависимости от технологических зон аэротенка. По составу активный ил можно разделить условно на две группы
          микроорганизмов: аэробные и анаэробные. Аэробные микроорганизмы поглощают кислород в процессе жизнедеятельност
          <wbr/>
          и, а анаэробные, напротив, развиваются лучше в среде с пониженным содержанием кислорода. Но в обоих случаях
          недопустимо образование застойных зон активного ила, что приводит к гибели бактерий и нарушению технологии
          очистки сточных вод. Насыщение очищаемой воды кислородом и перемешивание в анаэробных зонах с успехом
          осуществляется грамотно спроектированной системой аэрации. На большинстве городских очистных сооружениях
          России применяются трубчатые аэраторы, которые представляют собой пластиковую трубу с рядами отверстий. Это
          решение является наименее надежным, поскольку, при прекращении подачи воздуха или при образовании застойных
          зон взвесь активного ила оседает и приводит к засорению аэрационных отверстий. Такие системы работают
          эффективно от двух до трех лет, после чего требуется прочистка или замена элементов с остановкой
          технологической линии, что приводит к большим сложностям. На очистных станциях «Биокомпакт» используются
          только современные и надежные тарельчатые аэраторы с подвижной мембраной. При подаче воздуха к аэратору
          резиновая перфорированная мембрана раздувается, при этом открываются поры, выпускающие пузырьки воздуха
          оптимального размера. При остановке подачи воздуха мембрана принимает первоначальный вид и происходит закрытие
          микроотверстий, что предотвращает их засорение. Также, благодаря более равномерному распределению аэрационных
          точек по площади аэротенка, полностью устраняются застойные зоны активного ила. Это решение зарекомендовало
          себя на десятках реализованных объектов «Биокомпакт», среди которых очистные сооружения для коттеджных
          поселков, спортивных объектов, локальные очистные сооружения торговых центров и т.д.
        </p>
      </div>
    </section>
    {% include news.html %}
    <div class="clear"></div>
  </div>
</div>
